
@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}


<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/background.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-53">
                    Tạo Tài Khoản
                </span>

                <div class="p-t-31 p-b-9">
                    <span class="txt1">
                        Địa chỉ email
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Email còn trống">
                    <input class="input100" type="email" name="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Mật Khẩu
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Mật khẩu trống">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Xác Thực Mật Khẩu
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Xác thực mật khẩu trống">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Ngày sinh
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Ngày sinh còn trống">
                    <input class="input100" type="date" name="date">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
                    <span class="txt1">
                        Số điện thoại
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Số điện thoại trống">
                    <input class="input100" type="number" name="phone">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Đăng ký
                    </button>
                </div>

                <div class="container-login100-form-btn m-t-17">
                </div>
                <a href="#" class="btn-face m-b-20">
                    <i class="fa fa-facebook-official"></i>
                    Facebook
                </a>
                <a href="#" class="btn-google m-b-20">
                    <img src="/css/login/images/icons/icon-google.png" alt="GOOGLE">
                    Google
                </a>
            </form>
        </div>
    </div>
</div>

