
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Sức Khỏe Việt</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">

    <!-- Bootstrap -->
    <link href= "~/css/booking/bootstrap.min.css"  type="text/css" rel="stylesheet"/>

    <!-- Custom stlylesheet -->
    <link href= "~/css/booking/style.css" type="text/css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

    <div id="booking" class="section">



        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label-header">ĐẶT LỊCH KHÁM BỆNH</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">CHỌN NGÀY</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">NƠI KHÁM</span>
                                        <select class="form-control">
                                            <option>Bệnh Viện Chợ Rẫy</option>
                                            <option>Bệnh Viện Thủ Đức</option>
                                            <option>Bệnh Viện Nhiệt đới</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">DỊCH VỤ KHÁM</span>
                                        <select class="form-control">
                                            <option>Khám tổng quát</option>
                                            <option>Khám mắt</option>
                                            <option>Khám răng-hàm-mặt</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-btn">
                                        <button class="login-btn" name="btnLogin">ĐĂNG NHẬP</button>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-btn">
                                        <button class="submit-btn" name="btnBook">ĐẶT LỊCH</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
