
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dento - Dentist &amp; Medical HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Healtcare</title>

    <!-- Favicon -->
    <link rel="icon" href="~/css/home//img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/css/home/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dento-load"></div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="dentoNav">

                        <!-- Logo -->
                        <a href="#" class="nav-brand"><h1>Healthcare</h1></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                        </div>
                        <!-- Login Button -->
                        <a href="../Login" class="btn dento-btn booking-btn">Đăng nhập</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="container">
        <div class="dento-border clearfix"></div>
    </div>

    <!-- Book An Oppointment Area Start -->
    <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/12.jpg');">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center white">
                        <h2>Đặt lịch khám</h2>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Appointment Form -->
                    <div class="appointment-form">
                        <form action="../Login" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        <input type="date" name="your-name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        <input type="number" name="your-phone" class="form-control" placeholder="Số điện thoại" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        <select name="your-scheldule" class="form-control">
                                            <option value="Choose Your Scheldule">Nơi Khám</option>
                                            <option value="choray">Bệnh viện Chợ Rẫy</option>
                                            <option value="nhietdoi">Bệnh viện Nhiệt Đới</option>
                                            <option value="mat">Bệnh viện Mắt</option>
                                            <option value="tudu">Bệnh viện Từ Dũ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-30">
                                        <select name="your-time" class="form-control">
                                            <option value="Choose Your Time">Loại dịch vụ</option>
                                            <option value="1">Dịch vụ 1</option>
                                            <option value="2">Dịch vụ 2</option>
                                            <option value="3">Dịch vụ 3</option>
                                            <option value="4">Dịch vụ 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn dento-btn">Đặt lịch khám</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Book An Oppointment Area End -->
    <!-- Cool Facts Area Start -->
    <section class="dento-cta-area">
        <div class="container">
            <div class="row">
                <!-- Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cta text-center mt-50 mb-100">
                        <i class="icon_genius"></i>
                        <h2><span class="counter">63</span></h2>
                        <h5>Số tỉnh thành hoạt động</h5>
                    </div>
                </div>

                <!-- Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cta text-center mt-50 mb-100">
                        <i class="icon_heart_alt"></i>
                        <h2><span class="counter">9999</span>+</h2>
                        <h5>Khách hàng dùng dịch vụ</h5>
                    </div>
                </div>

                <!-- Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cta text-center mt-50 mb-100">
                        <i class="icon_book_alt"></i>
                        <h2><span class="counter">25</span></h2>
                        <h5>Số lượng bệnh viện trong hệ thống</h5>
                    </div>
                </div>

                <!-- Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cta text-center mt-50 mb-100">
                        <i class="icon_id"></i>
                        <h2><span class="counter">40</span>+</h2>
                        <h5>Loại dịch vụ</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cool Facts Area End -->
    <!-- Dento Service Area Start -->
    <section class="dento-service-area section-padding-100-0 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('img/bg-img/13.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <!-- Service Content -->
                <div class="col-12 col-lg-6">
                    <div class="service-content mb-30">
                        <!-- Section Heading -->
                        <div class="section-heading white">
                            <h2>Dịch vụ chính</h2>
                            <div class="line"></div>
                        </div>

                        <div class="row">
                            <!-- Single Service -->
                            <div class="col-6 col-md-4">
                                <div class="single-service mb-70">
                                    <img src="~/css/home/img/core-img/s3.png" alt="">
                                    <h6>Đặt lịch khám bệnh</h6>
                                </div>
                            </div>

                            <!-- Single Service -->
                            <div class="col-6 col-md-4">
                                <div class="single-service mb-70">
                                    <img src="~/css/home/img/core-img/s4.png" alt="">
                                    <h6>Chuẩn đoán</h6>
                                </div>
                            </div>

                            <!-- Single Service -->
                            <div class="col-6 col-md-4">
                                <div class="single-service mb-70">
                                    <img src="~/css/home/img/core-img/s2.png" alt="">
                                    <h6>Xét nghiệm</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dento Service Area End -->
    <!-- ***** Footer Area Start ***** -->
    <footer class="dento-cta-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-footer-widget">
                        <div class="footer-contact">
                            <label>Địa chỉ: 1 Võ Văn Ngân, Quận Thủ Đức, Thành phố Hồ Chí Minh</label>
                            <label>SĐT: +84 999 999 999, huy.luu.it@gmail.com</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copywrite-content">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <h1 id="databasetesting"></h1>
    </footer>
    <!-- ***** Footer Area End ***** -->
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="~/css/home/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/css/home/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/css/home/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="~/css/home/js/dento.bundle.js"></script>
    <!-- Active js -->
    <script src="~/css/home/js/default-assets/active.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="~/js/FireBaseScript.js"></script>
</body>

</html>
